<!DOCTYPE html>
<html>

<head>
  <title>Client Screen</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
  <!-- Bootstrap -->
  <link href="skins/css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="skins/css/application/app.css" rel="stylesheet" media="screen">
</head>

<body >

  <div id="loading">
    <div class="container">
      <p>Loading...</p>
      <div class="ball"></div>
      <div class="ball1"></div>
    </div>
  </div>
 
  
  <div id="wrap">
     <div id="header"> 
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span1">
            <a href="#/home"><img  class="logo" src="skins/images/rtbf_be.png"></a>
          </div>
          <div class="span10 emission-button">
            <div class="btn-group">
              <a class="dropdown-toggle btn btn-inverse btn-large"  data-toggle="dropdown" href="#">
                <span class="emissions" ></span>
                <span class="caret"></span>
              </a>
              <!-- Link or button to toggle dropdown -->
              <ul class="dropdown-menu emission-dropdown" role="menu" aria-labelledby="dLabel">
                  <li><a tabindex="-1" id="all-shows" >Toutes les emissions</a></li>
              </ul>
            </div>
          </div>
          <div class="span1">
          </div>
        </div>
      </div>
    </div>
    

    <div id="appcontainer" >
      <div class='notifications bottom-right'></div>
      <div class=" container confBlock ">
        
        <ul class="conferenceList">
          <button id="prevpage">previous</button>
        </ul>
      </div>
      <div class= "slides">
        <ul  id ="SlideList"></ul>
        <button id="precedent" class="left carousel-control">‹</button>
        <button id="suivant" class="right carousel-control">›</button>
      </div>
      <button id="nextpage">next</button>      
    </div>

<script type="text/template" id="conf-template"> 
    <div class="row-fluid conf-item" id="<%- _id %>">
      <div class="span3 thumb">
         <div class="thumbnail">
        <img  alt="direct-plus" data-src="holder.js/300x200"  src="<%-thumb%>">
        </div>
      </div>

      <div class="span7 description">
      <p><%- datestring %><br/>
      <strong ><%- orgName%> :
      <%- name%><br/></strong>
      <%- description %></p>
      </div>

      <div class="span2 play">
      <div class="thumbnail">
        <img   data-src="holder.js/300x200" style="width: 50px; height: 50px;" src="skins/images/pictosplay.png">
        <div class="caption">
        <p><strong class="timer">Load...</strong></p>
    </div>
      </div>

    </div>
 </script>

 <script type="text/template" id="Organisation-template"> 

  <a class="org-item" id="<%- id%>" tabindex="-1" ><%- name%></a>
 </script>


 <script type="text/template" id="slide-template"> 
            <div id="<%- id %>" >
              <section class="middle">
                <h1><%- title %></h1>
                <p><%- description %></p>
              </section>
            </div>
  </script>

<script src="scripts/vendors/require/require.js" data-main="scripts/main" type="text/javascript"></script>

</body>
</html>